@using BookInfo.Models
@model BookInfo.Models.Book

@{ 
    ViewData["Title"] = "Edit Book";
}

<div>
    <form method="post">
        <div>
            <label asp-for="title">Title</label><br />
            <input asp-for="@Model.Title"/>
        </div>
        <div>
            <label asp-for="date">Publication Date</label><br />
            <input asp-for="@Model.Date" />
        </div>
        <input type="hidden" asp-for="@Model.BookID" />

        
        @foreach (Author a in Model.Authors)
        {
            @:Author: @a.Name
        }
        
        <p>
            <input type="submit" value="Enter" class="btn btn-success" />
        </p>
    </form>
    <br/>
    <form method="post" asp-controller="Author" asp-action="Add">
        <div>
            <label>Name</label><br/>
            <input name="name" /><br/>
            <label>Birth date</label><br/>
            <input name="date" />
            <input type="hidden" name="bookid" value="@Model.BookID"/>
        </div>
        <div>
            <input type="submit" value="Add Author" class="btn btn-secondary" />

        </div>
    </form>
</div>
<br/>
<p>
    <a asp-action="Index">Back to List</a>
</p>
