@model List<BookInfo.Models.Book>
@{
    ViewData["Title"] = "Book List";
}

@foreach (var b in Model)
{
    @:Title: @b.Title <br />
    @:Published: @b.Date.ToString("yyyy") <br />
    foreach (var a in b.Authors)
    {
        @:Author: @a.Name <br />
    }
    <a asp-action="Edit" asp-route-id="@b.BookID" >Edit</a>
    <a asp-action="Delete" asp-route-id="@b.BookID">Delete</a>
   <br />
}

